h1{
		color : rgb(156, 156, 253);
		background-color : rgb(102, 13, 19);
		text-align:center;
		font-weight:bold;
		text-decoration : dotted underline;
		font-family :impact;
	 }
	 p{
		color: pink;
		text-decoration :line-through;
	 }
	 button{
color:red;
background-color:cornsilk;
	 }
	 h2{
		color : orange;
		
	 }
	 p1{
     color: white;
	 background-color : #000000;
	 }
	 button{
		color:white;
		background-color:rgb(255, 255, 0);
	 }