h1{
		color :#ffa511;
	
		text-align:center;
		font-weight:900;
		font-size:55px;
		letter-spacing:2px;
		line-height :normal;
		text-decoration : teal double underline;
		font-family :League spartan;
		 text-transform: uppercase;
	 }
	 p{
		color: pink;
		text-decoration :line-through;
	 }
	 button{
color:red;
background-color:cornsilk;
	 }
	 h2{
		color : orange;
		
	 }
	 p1{
     color: white;
	 background-color : #000000;
	 }
	 button{
		color:white;
		background-color:rgb(255, 255, 0);
	 }